/* vídeo 8 - Aula 4 - Visão geral de HTML com CSS */
/* Estilo para o título principal (h1) */
/* aula4.html e style1.css */

/* Este bloco configura o estilo para o títulos (h1) */
h1 {
  font-size:33px; /* Define o tamanho da fonte para 33 pixeis */
  text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
  font-family: sans-serif; /* Define uma fonte sem serifa */
  color: #262cea; /* Define a cor do texto em azul (#262cea) */
  }

/* Este bloco configura o estilo para o subtítulos (h2) */
h2 {
  font-size:20px; /* Define o tamanho da fonte para 20 pixeis */
  text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
  font-family: sans-serif; /* Define uma fonte sem serifa */
  color: #5656bd; /* Define a cor do texto em um tom de azul claro (#5656bd) */
  }

/* Este bloco configura o estilo para o subtítulos menores (h3) */
h3 {
  font-size:18px; /* Define o tamanho da fonte para 18 pixeis */
  text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
  font-family: sans-serif; /* Define uma fonte sem serifa */
  color: #5656bd; /* Mesma cor azul clara usada no h2 */
  }

/* Este bloco configura o estilo para o parágrafo com id 'descrição-curso' */
p#descricao-curso {
  color: #0000FF; /* Define a cor do texto como azul (#0000FF) */
  }

/* Este bloco o estilo geral para todos os parágrafos */
p {
	font-size:16px; /* Define o tamanho da fonte para 16 pixeis */
	font-family: sans-serif; /* Define uma fonte sem serifa */
  color: #FF0000; /* Define a cor do texto como vermelho (#FF0000) */
  }

/* Este bloco o estilo para parágrafos com a classe 'texto' */
p.texto {
	font-size:16px; /* Define o tamanho da fonte para 16 pixeis */
  }

