/* vídeo 8 - Aula 4 - Visão geral de HTML com CSS */ /* Comentário de bloco explicando o tema do código e a aula */
/* Exemplo 2 - aula4-1.html e layout2.css */ /* Comentário de bloco indicando o exemplo e os arquivos relacionados */

/* Este bloco configura o estilos para o elemento <body> */
body {
	width: 600px; /* Define a largura do corpo da página */
	margin-left: auto; /* Centraliza o corpo horizontalmente */
	margin-right: auto; /* Centraliza o corpo horizontalmente */
}

/* Este bloco configura o estilo para o títulos (h1) */
h1 { /* Define estilos para o elemento <h1> */
	font-size: 23px; /* Define o tamanho da fonte do h1 */
	text-transform: uppercase; /* Transforma o texto em maiúsculas */
	font-family: sans-serif; /* Define uma fonte sem serifa */
	color: #5656bd; /* Define a cor do texto em um tom de azul claro */
	text-align: center; /* Alinha o texto ao centro */
	}

/* Este bloco configura o estilo para o subtítulos (h2) */
h2 {
	font-size: 20px; /* Define o tamanho da fonte do h2 */
	text-transform: uppercase; /* Transforma o texto em maiúsculas */
	font-family: sans-serif; /* Define uma fonte sem serifa */
	color: #5656bd; /* Define a cor do texto em um tom de azul claro */
	}

/* Este bloco configura o estilo para o subtítulos menores (h3) */
h3 {
	font-size: 18px; /* Define o tamanho da fonte do h3 */
	text-transform: uppercase; /* Transforma o texto em maiúsculas */
	font-family: sans-serif; /* Define uma fonte sem serifa */
	color: #5656bd; /* Define a cor do texto em um tom de azul claro */
	display: inline-block; /* Faz com que o h3 se comporte como um bloco inline */
	width: 25%; /* Define a largura do h3 como 25% do contêiner */
	}

 /* Este bloco configura o estilos para o elemento <p> */
p {
	font-size: 16px; /* Define o tamanho da fonte do parágrafo */
	font-family: sans-serif; /* Define uma fonte sem serifa */
	}

/* Este bloco configura o para o elemento <p> com o ID descricao-curso */	
p#descricao-curso {
	font-size: 16px; /* Define o tamanho da fonte para o parágrafo com o id "descricao-curso" */
	}

/* Este bloco configura o estilos para o elemento <p> com a classe texto */
p.texto {
	font-size: 16px; /* Define o tamanho da fonte para o parágrafo com a classe "texto" */
	display: inline; /* Exibe o parágrafo como inline */
	width: 75%; /* Define a largura como 75% do contêiner */
	}

/* Este bloco configura o estilos para o elemento <div> com o ID corpo-da-pagina */
div#corpo-da-pagina {
	background-color: #ddd; /* Define a cor de fundo do div "corpo-da-pagina" como cinza claro */
	padding: 10px; /* Define um espaçamento interno de 10 pixels ao redor do conteúdo do div */
	}